* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

<<<<<<< HEAD
=======
@media (min-width: 1500px) {
  .container-agency {
    width: 832px;
    margin: auto;
  }
}

>>>>>>> adb20870b471d34a87fe3c8e40332042d4938f1a
/*/////////////////////////////////////////////////////////
 ///////////  Navbar starts
 ////////////////////////////////////////////////////////*/

.nav {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}

.nav .nav__right {
  display: flex;
  align-items: center;
}

.nav .nav__right button {
  border: none;
  background-color: transparent;
  padding: 0;
}

.nav .nav__list {
  display: flex;
  margin-right: 70px;
}

<<<<<<< HEAD
.nav .nav__list li {
  margin-right: 40px;
}

.nav .nav__list li:last-child {
=======
.nav .nav__listli {
  margin-right: 40px;
}

.nav .nav__listli:last-child {
>>>>>>> adb20870b471d34a87fe3c8e40332042d4938f1a
  margin-right: 0;
}

.nav .nav__right button {
  margin-right: 28px;
}

.nav .nav__right button:last-child {
  margin-right: 0;
}

.nav__list .body-4:hover {
  border-bottom: 3px solid #ff7300;
}

@media (max-width: 1200px) {}

@media (max-width: 816px) {}

/* Navbar ends    */

/*/////////////////////////////////////
////////////// agency-header starts
///////////////////////////////////// */
<<<<<<< HEAD

.agency-header {
=======
.container-agency {
  width: 832px;
  margin: auto;
}

.container-agency .agency-header {
>>>>>>> adb20870b471d34a87fe3c8e40332042d4938f1a
  margin-top: 180px;
}

.agency-header .body-1 {
  line-height: 30px;
  margin-top: 16px;
}

.agency-header .body-01 {
  line-height: 32px;
  color: #1F1F1F;
  margin-top: 70px;
}

/*/////////////////////////////////////
////////////// agency-header ends
///////////////////////////////////// */
/*/////////////////////////////////////
////////////// vacancy starts
///////////////////////////////////// */

<<<<<<< HEAD
.vacancy {
=======
.container .vacancy {
>>>>>>> adb20870b471d34a87fe3c8e40332042d4938f1a
  margin-top: 16px;
  margin: auto;
}

.vacancy img {
  height: 624px;
  width: 100%;
  margin-top: 16px;
}

/*/////////////////////////////////////
////////////// vacancy ends
///////////////////////////////////// */

/*/////////////////////////////////////
////////////// vacancy-text starts
///////////////////////////////////// */



/*/////////////////////////////////////
////////////// agency-layout starts
//////////////////////////////////S/// */
.agency-layout {
  margin-top: 30px;
}

<<<<<<< HEAD
.agency-layout .column-2 {
=======
.column-2 {
>>>>>>> adb20870b471d34a87fe3c8e40332042d4938f1a
  margin-top: 70px;
}

.agency-layout .column-2 p {
  line-height: 32px;
  color: #1F1F1F;
  margin-top: 15px;
}

<<<<<<< HEAD
=======

>>>>>>> adb20870b471d34a87fe3c8e40332042d4938f1a
.agency-layout .column-3 {
  margin-top: 70px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-row-gap: 30px;
  height: auto;
}

.agency-layout .column-3 div {
  height: 36px;
}

.column-3 div p {
  color: #1F1F1F;
  display: inline;
  line-height: 32px;
}

.column-3 div h3 {
  display: inline-block;
  margin: 0;
  line-height: 24px;
}

/*/////////////////////////////////////
////////////// agency-layout ends
//////////////////////////////////S/// */

/*/////////////////////////////////////
////////////// agency-image starts
//////////////////////////////////S/// */
.container .agency-image {
  margin-top: 70px;
}

<<<<<<< HEAD
.container .agency-image h2 {
=======
.agency-image h2 {
>>>>>>> adb20870b471d34a87fe3c8e40332042d4938f1a
  width: 832px;
  margin: auto;
}

<<<<<<< HEAD
.container .agency-image .agency-layout-image {
=======
.agency-image .agency-layout-image {
>>>>>>> adb20870b471d34a87fe3c8e40332042d4938f1a
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 18px;
  margin-top: 30px;
  column-gap: 18px;
}

/*/////////////////////////////////////
////////////// hash-tag starts
//////////////////////////////////S/// */
<<<<<<< HEAD
.container-narrow .hash-tag .caption {
=======
.container-agency .hash-tag .caption {
>>>>>>> adb20870b471d34a87fe3c8e40332042d4938f1a
  padding: 5px 9px;
  background-color: #F1F1F1;
  margin-top: 15px;
  margin-left: 15px;
  display: inline-block;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

<<<<<<< HEAD
.container-narrow .hash-tag a {
=======
.container-agency .hash-tag a {
>>>>>>> adb20870b471d34a87fe3c8e40332042d4938f1a
  display: inline;
  display: inline-block;

}

<<<<<<< HEAD
.container-narrow .hash-tag h6 {
=======
.container-agency .hash-tag h6 {
>>>>>>> adb20870b471d34a87fe3c8e40332042d4938f1a
  display: inline-flex;
  font-size: 16px;
  color: #FF7A0D;

}

<<<<<<< HEAD
.container-narrow .hash-tag .font-61-01 {
=======
.container-agency .hash-tag .font-61-01 {
>>>>>>> adb20870b471d34a87fe3c8e40332042d4938f1a
  display: inline;
  color: #D2D2D2;
}

<<<<<<< HEAD
.container-narrow .hash-tag {
=======
.container-agency .hash-tag {
>>>>>>> adb20870b471d34a87fe3c8e40332042d4938f1a
  border-top: 1px solid #D2D2D2;
  margin-top: 70px;
  padding-top: 20px;
}

<<<<<<< HEAD
.container-narrow .data {
=======
.container-agency .data {
>>>>>>> adb20870b471d34a87fe3c8e40332042d4938f1a
  margin-top: 70px;
  width: auto;
  height: auto;
}

<<<<<<< HEAD
.container-narrow .data img {
=======
.container-agency .data img {
>>>>>>> adb20870b471d34a87fe3c8e40332042d4938f1a
  width: 64px;
  height: 64px;
  margin-top: 10px;
  border-radius: 163.391px;
  border: 5px solid#F1F1F1;
}
<<<<<<< HEAD

.container-narrow .data div p {
=======
/*///////data starts////*/
.data div p {
>>>>>>> adb20870b471d34a87fe3c8e40332042d4938f1a

  margin-top: 7px;
  color: #FF7300;
}

<<<<<<< HEAD
.container-narrow .data div {
=======
.container-agency .data div {
>>>>>>> adb20870b471d34a87fe3c8e40332042d4938f1a
  display: block;
  margin-top: -57px;
  margin-left: 82px;
  margin-bottom: 50px;
}


<<<<<<< HEAD
.container-narrow .url-adres .caption {
=======
.container-agency .url-adres.caption {
>>>>>>> adb20870b471d34a87fe3c8e40332042d4938f1a
  padding: 5px 9px;
  background-color: #F1F1F1;
  margin-top: 15px;
  margin-left: 20px;
  display: inline-block;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

<<<<<<< HEAD
.container-narrow .url-adres .caption:hover {
  background-color: #FFEBD1;
}

.container-narrow .url-adres .caption:active {
=======
.container-agency .url-adres.caption:hover {
  background-color: #FFEBD1;
}

.container-agency .url-adres.caption:active {
>>>>>>> adb20870b471d34a87fe3c8e40332042d4938f1a
  color: #3D87DF;
  background-color: #F1F1F1;
}

<<<<<<< HEAD
.container-narrow .url-adres a {
=======
.container-agency .container-agency .url-adres a {
>>>>>>> adb20870b471d34a87fe3c8e40332042d4938f1a
  display: inline;
  display: inline-block;

}

<<<<<<< HEAD
.container-narrow .url-adres h6 {
=======
.container-agency .url-adres h6 {
>>>>>>> adb20870b471d34a87fe3c8e40332042d4938f1a
  display: inline-flex;
  font-size: 16px;
  color: #FF7A0D;

}

<<<<<<< HEAD
.container-narrow .container-narrow .url-adres .font-61-01 {
=======
.container-agency .url-adres .font-61-01 {
>>>>>>> adb20870b471d34a87fe3c8e40332042d4938f1a
  display: inline;
  color: #D2D2D2;
}

<<<<<<< HEAD
.container-narrow .url-adres {
=======
.container-agency .url-adres {
>>>>>>> adb20870b471d34a87fe3c8e40332042d4938f1a
  border-top: 1px solid #D2D2D2;
  margin-top: 70px;
  padding-top: 20px;
  padding-bottom: 0px;
}

/*/////////////////////////////////////
////////////// jobs-interesting starts
//////////////////////////////////S/// */
.jobs-interesting {
  margin-top: 70px;
  background-color: #F9F9F9;
  border-top: 1px solid white;
  height: 659px;

}

.jobs-interesting .container {
  margin-top: 120px;
}
<<<<<<< HEAD
.jobs-interesting .container .blocks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
}
.blocks .interesting-block {
=======

 .container .blocks .interesting-block {
>>>>>>> adb20870b471d34a87fe3c8e40332042d4938f1a
  margin-top: 30px;
}

.blocks .interesting-block .reference {
  margin-top: 18px;
}

<<<<<<< HEAD
 .interesting-block .reference .text {
=======
.interesting-block .reference .text {
>>>>>>> adb20870b471d34a87fe3c8e40332042d4938f1a
  display: block;
  margin-top: -47px;
  margin-left: 82px;

}

<<<<<<< HEAD
.interesting-block .reference .text p {
=======
.reference .text p {
>>>>>>> adb20870b471d34a87fe3c8e40332042d4938f1a
  margin-top: 5px;
}

.interesting-block div img {
  border-radius: 163px;
  -webkit-border-radius: 163px;
  -moz-border-radius: 163px;
  -ms-border-radius: 163px;
  -o-border-radius: 163px;
}

<<<<<<< HEAD

=======
.jobs-interesting .container .blocks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
}
>>>>>>> adb20870b471d34a87fe3c8e40332042d4938f1a

/*/////////////////////////////////////
////////////// jobs-interesting ends
///////////////////////////////////// */


/*/////////////////////////////////////////////////////////
 /////////// footer starts
 ////////////////////////////////////////////////////////*/

.footer-1 {
  background: #1c1c1f;
  padding: 136px 0 118px;
}

.footer-01 {
  display: flex;
  justify-content: space-between;
}

.footer-01 ul li {
  margin-bottom: 13px;
}

.footer-2 {
  background: #1a191c;
  padding: 32px 0 34px;
}

.footer-02 {
  display: flex;
  justify-content: space-between;
}

.copyright ul {
  display: flex;
}

.networks ul {
  display: flex;
}

.address img {
  margin-bottom: 86px;
}

.address h2 {
  margin-bottom: 10px;
}

footer a:hover {
  color: #d2d2d2;
}

.footer-01 h4 {
  margin-bottom: 18px;
}

.networks ul li {
  margin-left: 20px;
}

.copyright ul li {
  margin-right: 20px;
}

.copyright ul li:first-child {
  border-right: 1px solid #fff;
  padding-right: 20px;
}

@media (max-width: 1200px) {
  .footer-01 .address {
    display: none;
  }

  .footer-01 h4 {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
  }

  .footer-01 a {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
  }

  .footer-01 div {
    margin: 70px 20px;
  }
}

@media (max-width: 816px) {
  .footer-02 .body-8-01 {
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #D2D2D2;
  }

  .footer-02 .d-sm-f {
    display: none;
  }

  .footer-02 {
    margin: auto;
  }

  .footer-02 .copyright {
    margin: auto;
  }
}

/* footer ends  */