/*/////////////////////////////////////
////////////// agency-layout starts
///////////////////////////////////// */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
  }
  /*/////////////////////////////////////////////////////////
 ///////////  Navbar starts
 ////////////////////////////////////////////////////////*/

.nav {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
  }
  .nav .nav__right {
    display: flex;
    align-items: center;
  }
  .nav .nav__right button {
    border: none;
    background-color: transparent;
    padding: 0;
  }
  .nav .nav__list {
    display: flex;
    margin-right: 70px;
  }
  .nav .nav__list > li {
    margin-right: 40px;
  }
  .nav .nav__list > li:last-child {
    margin-right: 0;
  }
  .nav .nav__right button {
    margin-right: 28px;
  }
  .nav .nav__right button:last-child {
    margin-right: 0;
  }
  .nav__list .body-0101:hover{
    border-bottom: 3px solid #ff7300;
  }
  
  /* Navbar ends    */
  /*/////////////////////////////////////
////////////// agency-layout starts
///////////////////////////////////// */
.container{
    margin-left: auto;
}
.container .agensy-layout{
    margin-top: 180px;
}
.display-1 > .display-1-yellow{
    color:#FF7300;
}
.column-2 > .display-1 p{
    display: inline;
}
.column-2 span {
width: 650px;
display: inline-block;
}
.column-2 p{
width: 650px;
margin-top: 33px;
}
.header > .tab-nav {
    display: block;
    margin-left: 0px;
    display: flex;
    justify-content: left;
    margin-top: 70px;
  }
  
  .tab-nav > li .active {
    border-bottom: 3px solid #FF7300;
    padding-bottom: 8px;
    margin-bottom: -3px;
    
  }
  
  .header > .tab-nav li {
    margin-right: 40px;
  }

  .column-2 > .header {
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid #D2D2D2;
    padding-bottom: 8px;
  }

  .column-2 > .header a {
      height: 0;
      margin-top: 70px;
  }
<<<<<<< HEAD:assets/css/agency-jobs.css
  /* Agency-layout ends    */
  
/*/////////////////////////////////////
////////////// agency-group starts
///////////////////////////////////// */


.agency-group{
=======


/*/////////////////////////////////////
////////////// agency-layout ends
///////////////////////////////////// */

/*/////////////////////////////////////
////////////// agency-group starts
///////////////////////////////////// */
@media (min-width: 1500px) {
    .container-agency {
        width: 832px;
        margin: auto;
    }
}
.container-agency {
    width: 832px;
    margin: auto;
}
.container-agency .agency-group{
>>>>>>> 9bf45fa10608f4d543d4a552b63741fd72cf2b42:assets/css/agency.css
    margin-bottom: 180px;
}
.agency-group .news-group{
    margin-top: 70px;
}
.agency-group .news-group h3{
    margin-top: 30px;
}
.news-group > .news{
    margin-top: 30px;
}
.news-group > .news > img {
    height: 107px;
    margin-top: 1.5px;
    margin-bottom: 1.5px;
}
.news-group > .news > h4{
    display: inline;
    margin-top: -17px;
}
.news-group > .news > div > p{
    display: block;
    margin-top: 16px;
}
.news-group > .news > div{
    display: block;
    margin-top: -117px;
    margin-left: 203px;
    margin-bottom: 50px;
}
  /* agency-group ends    */

/*/////////////////////////////////////////////////////////
 /////////// footer starts
 ////////////////////////////////////////////////////////*/

 .footer-1{
    background: #1C1C1F;
    padding: 136px 0 118px ;
  }
  .footer-01{
    display: flex;
    justify-content: space-between;
  }
  .body-8{
    margin-bottom: 13px;
  }
  .footer-2{
    background: #1A191C;
    padding: 32px 0 34px;
  }
  .footer-02{
    display: flex;
    justify-content: space-between;
  }
  
  .copyright ul{
    display: flex;
  }
  .networks ul{
    display: flex;
  }
  .address img{
    margin-bottom: 86px;
  }
  .address h2{
    margin-bottom: 10px;
  }
  .footer-01 h4{
    margin-bottom: 18px;
  }
  .networks ul li{
    margin-left: 20px;
  }
  .copyright ul li{
    margin-right: 20px;
  }
  .copyright ul li:first-child{
    border-right: 1px solid #fff;
    padding-right: 20px;
  }
   /* footer ends  */