.nav {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}

.nav .nav__right {
    display: flex;
    align-items: center;
}

.nav .nav__right button {
    border: none;
    background-color: transparent;
    padding: 0;
}

.nav .nav__list {
    display: flex;
    margin-right: 70px;
}

.nav .nav__list>li {
    margin-right: 40px;
}

.nav .nav__list>li:last-child {
    margin-right: 0;
}

.nav .nav__right button {
    margin-right: 28px;
}

.nav .nav__right button:last-child {
    margin-right: 0;
}

.nav__list .body-4:hover {
    border-bottom: 3px solid #ff7300;
}

@media (max-width: 1200px) {}

@media (max-width: 816px) {}


/* Navbar ends    */


/*Blogs-features starts*/

.main_features {
    margin: 90px auto 0;
    width: 100%;
    max-width: 832px;
}

#post p {
    color: #1C1C1F;
    margin-top: 70px;
}

.container_img {
    width: 100%;
}


/*Blogs-features ends*/


/*/////////////////////////////////////////////////////////
 /////////// footer starts
 ////////////////////////////////////////////////////////*/

.footer-1 {
    background: #1c1c1f;
    padding: 136px 0 118px;
}

.footer-01 {
    display: flex;
    justify-content: space-between;
}

.footer-01 ul li {
    margin-bottom: 13px;
}

.footer-2 {
    background: #1a191c;
    padding: 32px 0 34px;
}

.footer-02 {
    display: flex;
    justify-content: space-between;
}

.copyright ul {
    display: flex;
}

.networks ul {
    display: flex;
}

.address img {
    margin-bottom: 86px;
}

.address h2 {
    margin-bottom: 10px;
}

footer a:hover {
    color: #d2d2d2;
}

.footer-01 h4 {
    margin-bottom: 18px;
}

.networks ul li {
    margin-left: 20px;
}

.copyright ul li {
    margin-right: 20px;
}

.copyright ul li:first-child {
    border-right: 1px solid #fff;
    padding-right: 20px;
}

@media (max-width: 1200px) {
    .footer-01 .address {
        display: none;
    }
    .footer-01 h4 {
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
    }
    .footer-01 a {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
    }
    .footer-01 div {
        margin: 70px 20px;
    }
}

@media (max-width: 816px) {
    .footer-02 .body-8-01 {
        font-weight: 600;
        font-size: 13px;
        line-height: 16px;
        color: #D2D2D2;
    }
    .footer-02 .d-sm-f {
        display: none;
    }
    .footer-02 {
        margin: auto;
    }
    .footer-02 .copyright {
        margin: auto;
    }
}


/* footer ends  */