@media (max-width: 1200px) {
    .nav {
        display: flex;
        justify-content: space-between;
        padding: 30px 0;
    }
    .nav .nav__right {
        display: flex;
        align-items: center;
    }
    .nav .nav__right button {
        border: none;
        background-color: transparent;
        padding: 0;
    }
    .nav .nav__list {
        display: flex;
        margin-right: 70px;
    }
    .nav .nav__list>li {
        margin-right: 40px;
    }
    .nav .nav__list>li:last-child {
        margin-right: 0;
    }
    .nav .nav__right button {
        margin-right: 28px;
    }
    .nav .nav__right button:last-child {
        margin-right: 0;
    }
    .nav__list .body-4:hover {
        border-bottom: 3px solid #ff7300;
    }
    .img_button {
        border: none;
        border-style: none;
    }
}

@media (max-width: 816px) {}


/* Navbar ends    */


/*Blogs-features starts*/

.main_features {
    margin: 90px auto 0;
    width: 100%;
    max-width: 832px;
}

#post p {
    color: #1C1C1F;
    margin-top: 70px;
}

.container_img {
    width: 100%;
    margin-bottom: 0;
}


/*-------------- Posts starts -----------------------*/

.main_features_post {
    margin: auto auto;
    width: 100%;
    max-width: 830px;
}

#post_parag {
    margin-bottom: 30px;
    margin-top: 10px;
}

#header-1 {
    margin-top: 50px;
    margin-bottom: 16px;
}

#post1 {
    margin-top: 16px;
}

#heading1 {
    margin-top: 16px;
    margin-bottom: 16px;
}

#dotts {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 29px;
}

#para_id {
    text-align: center;
    margin-bottom: 30px;
}

.feature_mid {
    display: flex;
    flex-direction: wrap;
    margin-top: 50px;
    text-align: left;
}

.feature-mid-img {
    width: 100%;
    max-width: 36px;
    max-height: 34px;
    margin: 13px 29px 0px 15px;
}

#header-serif {
    width: 100%;
    max-width: 700px;
    margin-bottom: 49px;
}

#post_paragr {
    margin-bottom: 31px;
}

.blog_text {
    padding-bottom: 18px;
}

.button {
    margin-top: 18px;
}

#blog_button {
    text-decoration: none;
    border-bottom: 2px solid #a6a6a6;
}


/*-----------Blogs-features ends------------*/


/* -------- Comments starts ---------------- */

#comment-parag {
    width: 100%;
    max-width: 755px;
    margin-bottom: 17px;
}

#number-parag {
    color: #FF7300;
    margin: 0px 29px 30px 15px
}

.comments {
    display: flex;
    flex-direction: row;
}

.comment_time {
    margin-top: 14px;
}

.comment_line {
    display: block;
    width: 100%;
    height: 1px;
    background: #cccccc;
    border: none;
    outline: none;
    margin: 70px 0 25px 0;
}

.tag_li {
    width: 100%;
    max-width: 96px;
    max-height: 29px;
    background-color: #F1F1F1;
    margin-right: 35px;
}

.tag_li1 {
    width: 100%;
    max-width: 65px;
    max-height: 29px;
    background-color: #F1F1F1;
    margin-right: 35px;
}

.tag_li2 {
    width: 100%;
    max-width: 75px;
    max-height: 29px;
    background-color: #F1F1F1;
    margin-right: 35px;
}

.tag_li3 {
    width: 100%;
    max-width: 113px;
    max-height: 29px;
    background-color: #F1F1F1;
}

#comment_ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-bottom: 70px;
}


/* -------- Comments ends ---------------- */

#user_blog {
    display: flex;
    flex-direction: row;
    margin-bottom: 180px;
}

.user_img {
    border-radius: 50%;
}

.user_name {
    margin: 8px 4px 0px 5px;
}

#section_header {
    margin: 28px 30px 16px 0;
}


/* ---------------------- Body section starts ------------------------- */

.body_section {
    background-color: #F9F9F9;
    width: 100%;
    max-width: 100%;
}

#body_box {
    margin-bottom: 180px;
}

#container_blogs {
    width: 100%;
    max-width: 1110px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 30px;
}

.section_head {
    padding-top: 120px;
}

.blog-img {
    margin: 18px 0 16px 0;
}

.blog-1 {
    display: flex;
    flex-direction: row;
}

.blog_page {
    padding-bottom: 180px;
}


/* ---------------------- Body section ends ------------------------- */


/*-------------- Posts starts -----------------------*/


/*/////////////////////////////////////////////////////////
 /////////// footer starts
 ////////////////////////////////////////////////////////*/

.footer-1 {
    background: #1c1c1f;
    padding: 136px 0 118px;
}

.footer-01 {
    display: flex;
    justify-content: space-between;
}

.footer-01 ul li {
    margin-bottom: 13px;
}

.footer-2 {
    background: #1a191c;
    padding: 32px 0 34px;
}

.footer-02 {
    display: flex;
    justify-content: space-between;
}

.copyright ul {
    display: flex;
}

.networks ul {
    display: flex;
}

.address img {
    margin-bottom: 86px;
}

.address h2 {
    margin-bottom: 10px;
}

footer a:hover {
    color: #d2d2d2;
}

.footer-01 h4 {
    margin-bottom: 18px;
}

.networks ul li {
    margin-left: 20px;
}

.copyright ul li {
    margin-right: 20px;
}

.copyright ul li:first-child {
    border-right: 1px solid #fff;
    padding-right: 20px;
}

@media (max-width: 1200px) {
    .footer-01 .address {
        display: none;
    }
    .footer-01 h4 {
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
    }
    .footer-01 a {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
    }
    .footer-01 div {
        margin: 70px 20px;
    }
}

@media (max-width: 816px) {
    .footer-02 .body-8-01 {
        font-weight: 600;
        font-size: 13px;
        line-height: 16px;
        color: #D2D2D2;
    }
    .footer-02 .d-sm-f {
        display: none;
    }
    .footer-02 {
        margin: auto;
    }
    .footer-02 .copyright {
        margin: auto;
    }
}


/* footer ends  */