* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

/*/////////////////////////////////////////////////////////
   ///////////  Navbar starts
   ////////////////////////////////////////////////////////*/
.nav__right {
  display: none !important;
}
.nav {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}
.nav .nav__right {
  display: flex;
  align-items: center;
}
.nav .nav__right button {
  border: none;
  background-color: transparent;
  padding: 0;
}
.nav .nav__list {
  display: flex;
  margin-right: 70px;
}
.nav .nav__list > li {
  margin-right: 40px;
}
.nav .nav__list > li:last-child {
  margin-right: 0;
}
.nav .nav__right button {
  margin-right: 28px;
}
.nav .nav__right button:last-child {
  margin-right: 0;
}
.nav__list .body-4:hover {
  border-bottom: 3px solid #ff7300;
}
.nav_close span {
  color: #a6a6a6;
}
.nav_close i {
  color: #1c1c1f;
  margin-left: 100px;
}

@media (max-width: 1200px) {
  .nav__right {
    display: flex !important;
  }
  .nav_close {
    display: none;
  }
}
@media (max-width: 816px) {
  .nav__right {
    display: none !important;
  }
  .nav img {
    display: none;
  }
  .nav__right {
    display: none;
  }
  .nav_close span {
    display: none;
  }
  .nav_close a {
    text-align: start;
    margin: -66px;
  }
  .nav_close {
    display: inline;
  }
}

/* Navbar ends    */



/*/////////////////////////////////////////////////////////
   ///////////  Head starts
   ////////////////////////////////////////////////////////*/

body {
  position: relative;
}
.head-items {
  display: flex;
  margin-top: 70px;
}
.head-items .body-1-03 {
  color: #1c1c1f;
}
.head-items a {
  margin-right: 17px;
}

.blocks {
  width: 244px;
}
.head-items::before {
  content: "";
  position: absolute;
  background: #F1F1F1;
  width: 100%;
  max-width: 349px;
  height: 97.7%;
  z-index: -1;
  margin-top: -70px;
  margin-left: -105px;
}
.blocks li {
  margin-bottom: 30px;
}
.blocks .active {
  padding: 13px 0 13px 28px;
  background-color: #fff;
  border-left: 3px solid #ff7300;
}
.head-items .right {
  margin-top: 54px;
}
@media (max-width: 1200px) {
  .head-items::before {
    content: "";
    position: absolute; 
    background: #F1F1F1;
    width: 100%;
    max-width: 388px;
    height: 98.5%;
    z-index: -1;
    margin-top: -70px;
    margin-left: -212px;
  }
}
@media (max-width: 816px) {
  .head-items {
    display: flex;
    flex-direction: column;
    margin: 0px 0 30px;
  }
  .head-items::before{
    display: none;
  }
  .blocks {
    width: auto;
    height: auto;
    display: flex;
    margin-bottom: 30px;
    box-shadow: 2px 6px 5px #f9f9f9;
    overflow: scroll;
  }
  .blocks a {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #a6a6a6;
    background: #f9f9f9;
    border-radius: 5px;
    padding: 10px 15px;
  }
  .blocks a:active {
    background: #ff7300;
    color: #fff;
  }
  .blocks .active {
    display: none;
  }
  .blocks li {
    margin-bottom: 25px;
  }
}
/* head ends  */

/*///////////////////////////////////////////
 /////////////// Blog starts ////////////////////
 //////////////////////////////////////////*/
.blog-service {
  margin-left: 70px;
}
.blog-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 30px 25px;
  margin: 70px 0 70px 0;
}
.blog-items .item:hover {
  background: #fffbf5;
  cursor: pointer;
}
.blog-items .item {
  display: flex;
  width: 246px;
  background: #fcfcfc;
  padding: 23px 0 23px 16px;
}
.blog-items .item .icons {
  font-size: 37px;
  color: #a6a6a6;
}
.blog-items .item h3 {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #1c1c1f;
  margin: 10px 0 0 16px;
}
.item-text {
  display: flex;
  justify-content: space-between;
}
.blog-items .item i::before {
  color: #a6a6a6;
  margin-top: 5px;
}
.blog-items .item:hover i::before {
  color: #ff7300;
}

.item:last-child .rf-arrow {
  margin-left: 8px;
}
@media (max-width: 1200px) {
  .blog-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 28px 30px;
    margin-top: 30px;
  }
}
@media (max-width: 816px) {
  .blog-service {
    margin: 30px 16px 40px 16px;
  }
  .blog-service h2 {
    margin-bottom: 30px;
  }
  .blog-items {
    display: flex;
    flex-direction: column;
    grid-gap: 15px;
    margin: 0;
  }
  .blog-items .header-5 {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
  }
  .blog-items .item {
    width: 100%;
    display: flex;
  }
}

/* Blog ends */

/*///////////////////////////////////////////////
  ///////////////// vacancy starts///////////////////
  ///////////////////////////////////////////// */
.vacancy {
  margin-left: 28%;
}
.vacancy h2 {
  margin-bottom: 30px;
}
.vacancy-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 60px;
  row-gap: 30px;
  margin-bottom: 50px;
}
.vacancy-items .item {
  display: flex;
}
.vacancy-items .item div {
  margin-left: 16px;
}
.vacancy-items .item p {
  margin-top: 8px;
}
@media (max-width: 1200px) {
  .vacancy {
    margin-left: 34%;
  }
  .vacancy-items {
    display: grid;
    grid-template-columns: 1fr;
  }
}
@media (max-width: 816px) {
  .vacancy {
    margin: auto;
  }
}
/* vacancy ends  */

/*/////////////////////////////////////////////////////////
 /////////// Authors starts
 ////////////////////////////////////////////////////////*/
.authors {
  margin-left: 28%;
}
.authors .link i {
  margin-left: 17px;
}
.team-members {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 54px 54px;
  margin-top: 70px;
  margin-bottom: 50px;
}
.team-members .specialist {
  display: flex;
}
.specialist .text {
  margin: 14px 0 0 20px;
}
.specialist .text h3 {
  margin-bottom: 5px;
}
.specialist .img img {
  border: #e5e5e5 solid 6px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
@media (max-width: 1200px) {
  .authors {
    margin-left: 34%;
  }
  .team-members {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 50px 54px;
    margin-top: 52px;
  }
  .team-members .d-sm-none {
    display: none;
  }
}
@media (max-width: 816px) {
  .authors {
    margin-left: 0;
  }
  .team-members {
    display: grid;
    grid-template-columns: 1fr;
  }
}
/* Authors ends  */

/*/////////////////////////////////////////////////////////
 ///////////  tags starts
 ////////////////////////////////////////////////////////*/

.tags {
  margin: 70px 0 50px 28%;
}
.hashtags {
  display: flex;
  column-gap: 50px;
}
.hashtags .items-1 {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.hashtags a {
  display: inline-block;
  border-radius: 3px;
  background-color: #f1f1f1;
  padding: 5px 10px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #1c1c1f;
  margin-bottom: 15px;
}

.hashtags .cage {
  color: #ff7300;
}

.hashtags span {
  color: #d2d2d2;
}
.link {
  position: relative;
}
.link i {
  position: absolute;
  margin-top: 2px;
  margin-left: 17px;
}

.tags .link {
  margin-top: 50px;
}

@media (max-width: 1200px) {
}
@media (max-width: 816px) {
  .tags {
    margin-left: 0;
  }
  .tags h3 {
    margin-bottom: 30px;
  }
  .tags .link {
    display: none;
  }
  .hashtags {
    display: block;
  }
  .hashtags .items-1 {
    margin-top: 0;
  }
}

/* Tags ends  */
