.container {
  width: 100%;
  margin: 16px auto;
}

@media (min-width: 576px) {
  .container {
    width: 544px;
    margin: 0 auto;
  }
}

@media (min-width: 816px) {
  .container {
    width: 768px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1146px;
  }
}

@media (min-width: 1500px) {
  .container {
    width: 1404px;
    
  }
}

.container-wider {
  width: 100%;

}

@media (min-width: 576px) {
  .container-wider {
    width: 544px;
    margin: 0 auto;
  }
}

@media (min-width: 816px) {
  .container-wider {
    width: 768px;
  }
}

@media (min-width: 1200px) {
  .container-wider {
    width: 1146px;
  }
}

@media (min-width: 1500px) {
  .container-wider {
    width: 1404px;
  }
}

<<<<<<< HEAD

@media (min-width: 1500px) {
  .container-xl {
      width: 832px;
      margin: auto;
  }
}
.container-xl {
  width: 832px;
  margin: auto;
=======
.container-narrow {
  width: 832px;
  margin: auto;
}

@media (min-width: 1500px) {
  .container-narrow {
      width: 832px;
      margin: auto;
  }
>>>>>>> 8f08ec25a8b1e33d8c8af7fd99cf7d6e216919f8
}