@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Lovers+Quarrel&display=swap");

:root {
  font-family: "intern";
}

/*/////////////////////////////////////////////////////////
 ///////////  Type starts
 ////////////////////////////////////////////////////////*/

.display-1 {
  font-family: Inter;
  font-weight: 800;
  font-size: 65px;
  line-height: 79px;
  text-align: center;
  color: #1c1c1f;
}
.paragraph {
  font-family: Inter;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #8c8c8c;
}
.caption {
  text-align: center;
  font-family: "Inter";
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #ff7300;
}
.li {
  color: #1c1c1f;
  font-family: "Inter";
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
}
.image-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #1c1c1f;
}

/* Type ends */

/*/////////////////////////////////////////////////////////
 ///////////  Text color starts
 ////////////////////////////////////////////////////////*/

.text-yellow {
  color: #ff7300;
}
.text-black-700 {
  color: #1c1c1f;
}

/* Text color ends */

/*/////////////////////////////////////////////////////////
 ///////////  Text decoration starts
 ////////////////////////////////////////////////////////*/

.lined {
  position: relative;
}

.lined::before {
  content: "";
  width: 100%;
  height: 1px;
  background: #ebebeb;
  position: absolute;
  left: 0;
  top: 50%;
  z-index: -1;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.lined .bg {
    background-color: white;
    padding: 0 16px;
}

/* Text decoration ends */
